<section class="account-wrapper">
  <h1>{{ 'customer.account.title' | t }}</h1>

  <h2>{{ 'customer.orders.title' | t }}</h2>

  {% paginate customer.orders by 20 %}
    {% if customer.orders.size != 0 %}
      <section class="order-history">
      <div class="order-history-header show-at-medium">
        <h5 class="">{{ 'customer.orders.order_number' | t }}</h5>
        <h5 class="">{{ 'customer.orders.date' | t }}</h5>
        <h5 class="">{{ 'customer.orders.payment_status' | t }}</h5>
        <h5 class="">{{ 'customer.orders.fulfillment_status' | t }}</h5>
        <h5 class="xnumbers">{{ 'customer.orders.total' | t }}</h5>
      </div>

      {% for order in customer.orders %}
        <div class="order-history-list">
          <p data-label="{{ 'customer.orders.order_number' | t }}">
            <span class="label-for-mobile">{{ 'customer.orders.order_number' | t }}: </span>{{ order.name | link_to: order.customer_url
            }}</p>
          <p data-label="{{ 'customer.orders.date' | t }}">
            <span class="label-for-mobile">{{ 'customer.orders.date' | t }}: </span>{{ order.created_at | date: format: 'month_day_year'
            }}</p>
          <p data-label="{{ 'customer.orders.payment_status' | t }}">
            <span class="label-for-mobile">{{ 'customer.orders.payment_status' | t }}: </span>{{ order.financial_status_label
            }}</p>
          <p data-label="{{ 'customer.orders.fulfillment_status' | t }}">
            <span class="label-for-mobile">{{ 'customer.orders.fulfillment_status' | t }}: </span>{{ order.fulfillment_status_label
            }}</p>
          <p class="xnumbers" data-label="{{ 'customer.orders.total' | t }}">
            <span class="label-for-mobile">{{ 'customer.orders.total' | t }}: </span>{{ order.total_price | money }}</p>
        </div>
    {% endfor %}
  </section>

    {% else %}
      <p>{{ 'customer.orders.none' | t }}</p>
    {% endif %}

    {% if paginate.pages > 1 %}
      {% include 'pagination' %}
    {% endif %}

  {% endpaginate %}

  <h2>{{ 'customer.account.details' | t }}</h2>

  {{ customer.default_address | format_address }}

  <a href="/account/addresses">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a>
</section>
