<div class="hero">
{% if block.settings.image != blank %}
{% for block in section.blocks limit: section.block.size %}
<div class="hero-item">
  <a href="{{ block.settings.herolink }}"><img src="{{ block.settings.image }}" alt=""></a>
</div>
{% endfor %}
{% else %}
  <div class="hero-item">
    {{ 'placeholder-banner-530.png' | asset_url | img_tag: 'placeholder' }}
  </div>
  <div class="hero-item">
    {{ 'placeholder-banner-530.png' | asset_url | img_tag: 'placeholder' }}
  </div>
  <div class="hero-item">
    {{ 'placeholder-banner-530.png' | asset_url | img_tag: 'placeholder' }}
  </div>
{% endif %}
</div>

{% schema %}
  {
    "name": "Hero banners",
    "max_blocks": 3,
    "blocks": [
      {
        "type": "image_picker",
        "name": "Add image",
        "settings": [
          {
            "type": "image_picker",
            "id": "heroimage",
            "label": "Hero image"
          },
          {
            "id": "herolink",
            "type": "url",
         		"label": "Hero link"
          }
        ]
      }
    ],
    "presets": [
    {
      "name": "Hero banners",
      "category": "Banners"
    }
  ]
  }
{% endschema %}
